name: Docker Image CI

on:
  push:
    branches: [main]
    paths:
      - Dockerfile  # Only trigger when the Dockerfile is modified
  pull_request:
    branches: [main]
    paths:
      - Dockerfile  # Only trigger when the Dockerfile is modified
  workflow_dispatch:  # This allows manual triggering

jobs:
  docker-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker image
      run: |
        docker build -t arena-cuda-ros . --progress=plain

    - name: Run Docker container
      run: |
        docker run -d --name test-container arena-cuda-ros
        sleep 5  # give time for the container to start
        docker ps -a  # check container status

    - name: Log in to Github Container Registry (GHCR)
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
  
    - name: Tag the image
      run: |
        docker tag arena-cuda-ros ghcr.io/${{ github.repository }}/arena-cuda-ros
  
    - name: Push image
      run: |
        docker push ghcr.io/${{ github.repository }}/arena-cuda-ros
